# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directories
coverage
*.lcov
.nyc_output

# Test caches
/jest/

# Build output
/dist/
/.cache/
/.vite/

# Vitepress / VuePress / Docusaurus etc. (if you ever use)
**/.vitepress/dist
**/.vitepress/cache
.docusaurus
.vuepress/dist
.temp
.serverless/

# Dependency directories
node_modules/
bower_components/
jspm_packages/
web_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache
.npm

# Yarn Integrity / pnpm
.yarn-integrity
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Environment variables
.env
.env.*
!.env.example

# IDE/editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS cruft
.DS_Store
Thumbs.db

# Parcel cache
.cache
.parcel-cache

# Next.js / Nuxt.js / Gatsby
.next
out
.nuxt
public/   # uncomment if you ever use Gatsby

# Misc
*.bak
*.tmp
